<h1>Contact List</h1>
<button id='addContact'>Add Contact</button>
<button id ='showContacts'>Show Contacts</button>
<input type='text' id= 'search' placeholder="search contacts"><br>

<div id="results">
<table id="contacts">
<thead>
  <tr>
    <th>firstname</th>
    <th>lastname</th>
    <th>email</th>
    <th>phone</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>
</div>

<div id="contactForm">
<fieldset>
  <legend> New Friend? </legend>
  <form id="newContact">
    <input type='text' id='firstname' placeholder='firstname'><br>
    <input type='text' id='lastname' placeholder='lastname'><br>
    <input type='text' id='email' placeholder='email'><br>
    <input type='text' id='phone' placeholder='phone'><br>
    <input type='submit' value='create contact'><br>
    </form>
  </fieldset>
</div>